<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidread.restaurantautomationsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name_short"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.LoginActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.AddOrderActivity"
            android:label="@string/name_activity_table_order"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.OrderItemsActivity"
            android:label="@string/name_activity_order_items"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.OrderDetailActivity"
            android:label="@string/name_activity_order_detail"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.AddEmployeeActivity"
            android:label="@string/name_activity_add_employee"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.ModifyEmployeeActivity"
            android:label="@string/name_activity_modify_employee"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.AddInventoryItemActivity"
            android:label="@string/name_activity_add_inventory_item"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.ModifyInventoryItemActivity"
            android:label="@string/name_activity_modify_inventory_item"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.AddMenuItemActivity"
            android:label="@string/name_activity_add_menu_item"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.ModifyMenuItemActivity"
            android:label="@string/name_activity_modify_menu_item"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.AddTableActivity"
            android:label="@string/name_activity_add_table"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.ModifyTableActivity"
            android:label="@string/name_activity_modify_table"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.ViewOrderHistoryItemsActivity"
            android:label="@string/name_activity_view_order_history_items"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.davidread.restaurantautomationsystem.Activities.ViewOrderHistoryDetailActivity"
            android:label="@string/name_activity_view_order_history_detail"
            android:parentActivityName="com.davidread.restaurantautomationsystem.Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidread.restaurantautomationsystem.Activities.MainActivity" />
        </activity>

        <service
            android:name="com.davidread.restaurantautomationsystem.Services.LoggedInService"
            android:enabled="true"
            android:stopWithTask="false" />

    </application>

</manifest>